h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  margin: 1.5em 0 0;
  line-height: 1.2em;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5 {
  margin: .5em 0 0;
}

h6 + p {
  display: inline;
}

p {
  margin: 1.5em 0;
  line-height: 1.5em;
}

ul {
  margin: .5em 0;
  padding: 0 1em 0;
  list-style-type: square;

  li {
    line-height: 1.5em;

    &::marker {
      color: var(--light-gray);
    }
  }
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;

  &[href]:focus {
    outline: 1px solid;
    text-decoration: none;
  }

  &[href]:active {
    outline: 2px solid;
    text-decoration: none;
  }

  &[href]:focus,
  &[href]:hover {
    color: var(--green);
  }
}

img {
  border: 2px var(--light-gray) solid;
  max-width: 100%;
}

pre {
  background-color: var(--light-gray);
  border-left: 4px solid var(--green);
  border-radius: 2px;
  margin: 1.5em 0;
  overflow: auto;
  padding: 1em;

  & > code {
    background-color: transparent;
  }
}

code {
  font-family: "DejaVu Mono", "Courier New", monospace;
  display: inline-block;
  background-color: var(--light-gray);
  padding: 0 .5ch;
  border-radius: 2px;
}

p > code,
li > code {
  background-color: #efefef;
  padding: 0 0.5ch;
}

figure {
  margin: 1.5em 0 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  figcaption {
    line-height: 1.5em;

    &::before {
      content: "-";
      margin: 0 .5em;
    }
  }
}

hr {
  border: 0;
  border-top: .1rem var(--light-gray) solid;
  width: 100%;
}

