@charset "utf-8";

// TODO: Add light/dark theme media queries.
:root {
  --foreground: #111111;
  --background: #f1f1f1;

  --light-gray: #efefef;

  --light-blue: #e8f4fd;
  --blue: #0d3c61;

  --green: #01653a;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Critical CSS is inlined in `base.html`

body {
  color: var(--foreground);
}

@import "base";

@import "templates/header";
@import "templates/footer";
@import "templates/section";
@import "templates/guide";

@import "shortcodes/banner";
