header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  margin: 0 -1em 0;
  padding: .5em 1em;

  p {
    margin: 0;
    font-size: 1.5em;
    flex: 1;
    word-break: keep-all;
    white-space: pre;
  }

  nav ul {
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }
}
