{% import "macros/head.html" as head -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:locale" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock %}</title>

    <meta property="og:title" content="{{ head::title() }}">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="{{ head::title() }}">

    <meta name="twitter:site" content="@vallode_">
    <meta name="twitter:creator" content="@vallode_">
    <meta name="author" content="vallode">

    {%- if page.description -%}
      <meta name="description" content="{{ page.description }}">
      <meta name="twitter:description" content="{{ page.description }}">
      <meta property="og:description" content="{{ page.description }}">
    {%- else -%}
      <meta name="description" content="/wg/ - /stpg/ startpages">
      <meta name="twitter:description" content="/wg/ - /stpg/ startpages">
      <meta property="og:description" content="/wg/ - /stpg/ startpages">
    {%- endif -%}

    {%- if page.image -%}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ config.base_url }}{{ page.image }}">
      <meta property="og:image" content="{{ config.base_url }}{{ page.image }}">
    {%- else -%}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ config.base_url }}assets/images/splash.png">
      <meta property="og:image" content="{{ config.base_url }}assets/images/splash.png">
    {%- endif -%}

    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <style type="text/css">
      html {
        box-sizing: border-box;
        font-family: "DejaVu Sans", Geneva, Verdana, sans-serif;
        font-size: 100%;
        height: 100%;
      }

      body {
        height: 100%;
        margin: 0 auto;
        min-height: 100%;
        padding: 0 1em;
        width: 70ch;
        max-width: 100%;
      }
    </style>

    <!-- Defering non-critical css. -->
    <link rel="stylesheet" href="/style.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="/style.css"></noscript>
    {% block guidehead %} {% endblock %}
  </head>

  <body>
    {% include "header.html" %}

    <main>{% block content %} {% endblock %}</main>

    {% include "footer.html" %}
  </body>
</html>
