<footer>
  <p>
    See something wrong?
    <a href="https://gitlab.com/vallode/stpg/-/issues">Open an issue/PR</a>
  </p>
</footer>

<!-- GoatCounter analytics, privacy-oriented and open-source. See: https://www.goatcounter.com/ -->
<script
  data-goatcounter="https://stpg.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>
