{% extends "base.html" %}

{%block guidehead %}
    {% if page.earlier %}
        <link rel="prerender" href="{{ page.earlier.permalink }}">
    {% endif %}
    {% if page.later %}
        <link rel="prerender" href="{{ page.later.permalink }}">
    {% endif %}
{% endblock %}

{%block title %}{{ page.title  }} | {{ config.title }}{% endblock %}

{% block content %}

<article>
  <h1>{{ page.title }}</h1>

  {{ page.content | safe }}
</article>

<!-- Adjacent guides -->
<aside>
    {% if page.earlier %}
    <p>
        <a href="{{ page.earlier.permalink }}">
            &#8592; {{ page.earlier.title | truncate(length=30)}}
        </a>
    </p>
    {% endif %}

    {% if page.later %}
    <p>
        <a href="{{ page.later.permalink }}">
            {{ page.later.title | truncate(length=30)}} &#8594;
        </a>
    </p>
    {% endif %}
</aside>

{% endblock content %}
