{% extends "base.html" %}

{% block content %}
  <section>
    <p>
      Welcome to the <strong>/wg/ - /stpg/</strong> website. Hopefully
      whatever you are looking for is here. If that is not the case and you need
      more help or you have suggestions ask on our
      <a href="https://discord.gg/wmJXckE">discord server</a>.
    </p>
  </section>

  <section>
    {{section.content | safe }}
  </section>
{% endblock content %}


