{% extends "base.html" %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>

<section>
  {{ page.content | safe }}
</section>
{% endblock %}
