{% extends "base.html" %}

{% block title %}{{ config.title }} | {{ section.title }}{% endblock %}

{% block content %}
<h1>{{section.title}}</h1>

{{ section.content | safe }}

<hr />

<ul class="posts">
  {% for post in section.pages %}
    <li>
      <p>
        <a href="{{ post.permalink }}">{{ post.title }}</a> <br>
        {{ post.description }}
      </p>
    </li>
  {% endfor %}
</ul>
{% endblock content %}
